body {
  /*background-color: #071a2b;*/
  background-color: #fff;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.main_container {
  width: 90vw;
  margin: auto;
  text-align: center;
}

h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.chart_container {
  margin: auto;
  /*position: relative;*/
  width: 70vw;
}
